@{
    ViewBag.Title = "Kontakt";
}
<center>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
</center>
<br />
<br />

<center><address>
    Булевар Ослобођења 1233.<br />
    Нови Сад, Србија<br />
    <abbr title="Phone">Телефон: 0558-8485-487</abbr>
</address>
</center>

<center>
<address>
    <strong>Подршка:</strong>   <a href="mailto:Support@srpskeplanine.com">Support@srpskeplanine.com</a><br />
    <strong>Рекламно:</strong> <a href="mailto:Marketing@srpskeplanine.com">Marketing@srpskeplanine.com</a>
</address>
</center>

