@{
    ViewBag.Title = "Planine";
}
<div class="pl">
<center><h2>@ViewBag.Title</h2></center>
<center><h3>@ViewBag.Message</h3></center>
</div>
<div class="posebnaPl">
    <h2>ФРУШКА ГОРА (ЦРВЕНИ ЧОТ 539M)</h2>
    <p>
        Национални парк "Фрушка Гора" основан је 1960. као најстарији у социјалистичкој Југославији. На површини На површини од око 25.000 хектара, колико обухвата Национални парк "Фрушка Гора", заштићени су јединствени пејсажи, вредне геолошке и геоморфолошке целине, ретке биљне и животињске врсте и шумски комплекси.
        Садржајности подручја доприносе бање Врдник и Сланкамен и језера међу којима су за туризам значајна: Борковац, Сот, Бања-Брује, Мохарач, Међеш. Међу најзначајнију материјалну културну баштину која се налази на простору Националног парка "Фрушка гора" можемо уврстити комплекс српских православних манастира, вредне просторне културно-историјске целине, примере народног градитељства, етнолошко наслеђе, појединачне споменике културе и знаменита места међу којима се, као туристички локалитети на територији Новог Сада издвајају Петроварадинска тврђава и Место битке код Петроварадина.
        Фрушка гора је подручје добрих вина где се издвајају следећи вински центри: Ириг, Баноштор, Сремски Карловци и Шид.<br />
        <a href="http://www.serbia.com/srpski/posetite-srbiju/prirodne-lepote/planine/fruska-gora-nekada-ostrvo-danas-planina/" class="btn btn-primary btn-lg">Више &raquo;</a>
    </p>
    <hr />
</div>
<div id="posebnaPl">
    <h2>ЗЛАТИБОР (ТОРНИК 1496M)</h2>
    <p>
        Златибор налази се у југозападном делу Србије, на надморској висини од 700 до 1.500 м, 238 км од Београда. Највиши планински врхови су: Торник (1.496 м) и Чигота (1.422 м).
        Захваљујући специфичној клими и ваздушним струјањима - континенталним и медитеранским, који се могу наћи само овде, незагађеном ваздуху, здравој и чистој води, великом броју сунчаних дана у години, прелепим скијашким теренима, Златибор се развио у чувени летњи и зимски туристички центар, са најдужом туристичком традицијом међу планинама у Србији.
        Клима на Златибору је алпска и субалпска, што значи да су лета пријатно топла са свежим ноћима, а зиме доста дуге, нису претерано оштре и доносе обиље падавина.<br />
        <a href="http://www.serbia.com/srpski/posetite-srbiju/prirodne-lepote/planine/zlatibor-ukras-na-1-000-metara-visine/" class="btn btn-primary btn-lg">Више &raquo;</a>
    </p>
    <hr />
</div>
<div id="posebnaPl">
    <h2>КОПАОНИК (ПАНЧИЋЕВ ВРХ 2.017M)</h2>
    <p>
        Када су у питању скијалишта Србије Копаоник је убедљиво најпривлачнији туристима, како домаћим, тако и страним. Уређени скијашки терени које нуди Копаоник ски центар пружају неизмерно уживање свим категоријама скијаша, од почетника до оних напредних способности.
        Копаоник ски центар поседује преко 62 километра стаза уређених за алпско и нордијско скијање. Ова планина поседује и уређен сноw-боард /Сноwбоардинг/ парк, на коме се организују такмичења домаћег и међународног карактера.
        Скијање ван уређених стаза на Копаонику је забрањено.<br />
        <a href="http://www.serbia.com/srpski/posetite-srbiju/prirodne-lepote/planine/kopaonik-suncana-planina-puna-srebra/" class="btn btn-primary btn-lg">Више &raquo;</a>
    </p>
    <div id="slikaPl">
    </div>
    <hr />
</div>
<div id="posebnaPl">
    <h2>ТАРА (ЗБОРИШТЕ 1.544M)</h2>
    <p>
        Тара се налази у западном делу Србије и припада унутрашњем појасу Динарида. Просечна надморска висина планине Таре је 1200 м. Највиши врх је Козји рид са 1591 м. Припада групи подрињских планина и има сложену геолошку прошлост и разнолику петрографску грађу.
        Положај планине Таре представља повољан услов за развој туризма, јер омогућава разноврстан садржај туристичког боравка, односно посету већем броју туристичких локалитета. По богатству и разноврсности туристичих вредности, еколошки очувана природна средина, планински рељеф са умереном надморском висином од 800-1500 м, погодни терени за зимске спортове, богат и разноврстан биљни и животињски свет, благотворна клима, Дрина са вештачким језерима Заовине и Перућац, дају овој планини велику туристичку вредност што је чини конкурентном у односу на Златибор и друге планине.
        Тара има повољан положај према комплементарним туристичким вредностима у непосредној околини: Ужицу, Мокрој Гори, Вишеграду са бројним културно-историјским споменицима, који привлаче излетничка кретања туриста стационираних на Тари у циљу задовољења образовно-културних потреба и богатијег садржаја и боравка. Тара има одличну предиспозицију за одрживи туризам, који представља сваки туризам који доноси минимални утицај на животну средину и културну баштину,
        али у исто време доводи до економског развоја локалне заједнице.<br />
        <a href="http://www.serbia.com/srpski/posetite-srbiju/prirodne-lepote/planine/tara-planinski-dom-staroslovenskih-bogova/" class="btn btn-primary btn-lg">Више &raquo;</a>
    </p>
    <div id="slikaPl">
    </div>
    <hr />
</div>
<div id="posebnaPl">
    <h2>РТАЊ (ШИЉАК 1.565M)</h2>
    <p>
        Ртањ је планина која се налази у источној Србији и представља природни феномен крашког рељефа. Планина се нагло издиже из равнице и завршава скоро потпуно правилном кречњачком пирамидом.
        Највиши тачка Ртња је врх Шиљак висине 1561 мнв.
        Због свог специфичног изгледа, у вези Ртња се испредају разне легенде,
        а неки научници покушавају да докажу да је некада заиста био пирамида.<br />
        <a href="http://www.serbia.com/srpski/posetite-srbiju/prirodne-lepote/planine/rtanj-misteriozna-lepotica-piramidalnog-oblika/" class="btn btn-primary btn-lg">Више &raquo;</a>
    </p>
    <div id="slikaPl">
    </div>
</div>
