@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <h1>Српске Планине</h1>
    <p class="lead">Србија нуди прелепе планинске дестинације, погодне за одмор, зимске спортове и рекреацију.</p>
    <p><a href="https://www.nationalgeographic.rs/vesti/9131-upoznajte-srbiju-10-najlepsih-planina-nase-zemlje.html?p=3" class="btn btn-primary btn-lg">Сазнај више &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Опуштајуће</h2>
        <p>
            Идиличне зиме и свежа лета на нашим планинама пружају могућност опуштања током целе године. Услед оптерећења психичког и физичког насталог свакодневним обавезама током целе године препоручују се чешћи краћи одмори од 5 до 7 дана или бар викенд.
            Планина је идеална за то. Србија поседује богат планински програм и свака планина пружа јединствен ужитак. Свима нам добро дође опуштајући моменат као из бајке то наше планине и омогућавају.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Здраво</h2>
        <p>Свеж ваздух, рекреација, висинске припреме, реке, језера, планинарење, бање, храна, биљке, и тако у бескрај. Тело и дух ће вам бити захвални који год да је разлог Вашег доласка. А зашто и не пробати све? 
          Шта год да радите на планини имате само добробит.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Домаће</h2>
        <p>Наша земља је препуна лепих дестинација. Планине ту предњаче, јер се на њима могу осетити и сеоски туризам као и језерски и речни.
           Српско гостопримство је надалеко познато, стога га треба и осетити.
        </p>
    </div>
</div>